@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sat: env(safe-area-inset-top, 0px);
    --sab: env(safe-area-inset-bottom, 0px);
    --sal: env(safe-area-inset-left, 0px);
    --sar: env(safe-area-inset-right, 0px);
  }

  body {
    @apply bg-slate-950 text-slate-100 selection:bg-cyan-500 selection:text-slate-950 font-sans;
    padding-left: var(--sal);
    padding-right: var(--sar);
  }
}
